<table>
  <tbody>
  <tr>
    <td><b>Настройки:</b> </td>
  </tr>
  <tr>
    <td>
      <p>
        <label><%= l(:label_part_check_disable) %></label>
        <%= check_box_tag 'settings[part_check_disable]', 1, settings.present? && settings['part_check_disable'] == '1' %>
        <br />
<!--        <em><%#= l(:em_my_activity_enable) %></em>-->
      </p>
      <p>
        <label><%= l(:label_cf_required_disable) %></label>
        <%= check_box_tag 'settings[cf_required_disable]', 1, settings.present? && settings['cf_required_disable'] == '1' %>
      </p>
      <p>
        <%= content_tag(:label, l(:label_receive_mail_issue_status)) %>
        <%= menu_statuses = Struct.new(:id, :name)
          select_tag('settings[receive_mail_issue_status]',
                     options_from_collection_for_select(
                        IssueStatus.sorted
                          .collect { |m| menu_statuses.new(m.id, m.name) }
                          .insert(0,menu_statuses.new(0, l(:label_no_change_option))),
                        :id,
                        :name,
                        settings['receive_mail_issue_status']),
                     multiple: false)
        %>
        <em class="info">
          <%= l(:label_default) %>: <%= l(:label_no_change_option) %>
        </em>
      </p>
   </td>
  </tr>
  </tbody>
</table>
